body {
    margin: 0;
    padding: 0;
    background-color: #eee9da;
    font-family: "PT Serif", serif;
    overflow-y: auto;
}

.maincol {
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
}

.leftside {
    flex: 3;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: row;
}

.rightside {
    padding-top: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    padding-top: 2rem;
    color: #458758;
    font-size: 5rem;
}

#me {
    width: 300px;
    /* object-fit: cover;
    object-position: top; */
    border-radius: 1rem
}

@media (max-width: 700px) {
    .hero {
        flex-direction: column-reverse;
    }

    .rightside {
        padding-top: 1.5rem;
        align-items: center;
    }
    h1 {
        font-size: 3rem;
    }
}

