---
import Layout from "../layout.astro"

---

<Layout>
    <div class="maincol">
        <h1>Contact</h1>
        <p>Email: <a href="mailto:louis@louisbourgault.com">louis@louisbourgault.com</a></p>
        <p>Hack Club Slack: <span class="alike">Louis Bourgault du Coudray</span></p>
    </div>
</Layout>

<style>
    a {
        text-decoration: none;
    color: #6a546d;
}

.alike {
    color: #6a546d;

}
</style>