---
import Layout from "../layout.astro";
import Project from "../components/project.astro";
import Language from "../components/language.astro";
import Photos from "../photos.json";
import GithubIcon from "../components/github.astro";
---
<head>
  <title>Louis Bourgault du Coudray</title>
</head>

<Layout>
  <br class="top" />
  <div class="maincol">
    <div class="hero">
      <div class="leftside">
        <h1 class="primary">
          Louis Bourgault du Coudray <a
            href="https://github.com/louis-bourgault"
          >
            <GithubIcon />
          </a>
        </h1>
        <p>High school student, hacker, and various other things</p>
      </div>
      <div class="rightside">
        <img src="/me.jpeg" id="me" alt="A photo of me" />
      </div>
    </div>
    <section title="code-hardware">
      <h2>Code and Hardware</h2>
      <div class="projects">
        <Project
          name="ferretboard"
          description="A project for Hack Club Macondo, making a simple RP2040 game console with a screen and custom PCB"
          imageURL="https://cdn.hackclub.com/019e7801-46d1-7f5f-9918-96e331bf3d2e/Screenshot%202026-05-17%20at%2016.31.14.png"
          imageAlt="The case design in Fusion 360"
          link="https://github.com/louis-bourgault/macondo-games"
        />
        <Project
          name="Keyboard"
          description="split mechanical wireless keyboard, made for Hack Club Blueprint"
          imageURL="https://cdn.hackclub.com/019e7802-d57d-745f-a197-6bdbca964c8f/keyboardrender.png"
          imageAlt="Render of the project"
          link="https://github.com/louis-bourgault/keyboard"
        />
        <Project
          name="photo-map"
          description="a photo map platform (somewhat akin to google photos map view) but with a blogging component. hack club macondo project"
          imageURL="https://cdn.hackclub.com/019e6e98-b084-747c-84a8-35d4ebd56de8/Screenshot%202026-05-25%20at%2021.12.42.png"
          imageALT="two pins on a map"
          link="https://github.com/louis-bourgault/photo-map"
        />
      </div>
      <br>
      <h2>Languages and frameworks:</h2>
      <div class="langs">
        <Language
          name="Golang"
          image="/golang.png"
        />
        <Language
          name="Svelte/kit"
          image="/svelte.png"
        />
        <Language name="Astro (this website!)" image="/astro.png" />
      </div>
    </section>
    <br>
    <section title="photos">
      <div class="apart">

        <h2>Photography!</h2>
        <div class="rightbuttoncontainer">
          <a href="/photography">
            <button id="morephotos">More Photography</button>
          </a>
        </div>
      </div>
      <div class="top-photos">
        {
          Photos.top.map((photo, index) => (
            <img src={photo.thumbnail} loading="lazy" />
          ))
        }
      </div>
      
    </section>
  </div>

  <br class="top" />
</Layout>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  .langs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .rightbuttoncontainer {
    display: flex;
    justify-items: right;
  }

  .apart {
    display: flex;
    justify-content: space-between;

  }

  button {
    margin-top: 0.5rem;
    background-color: #cbc09e;
    padding: 0.75rem;
    border: none;
    border-radius: 3px;
    color: #6a546d;
    margin-left: auto;
    text-size-adjust: 1.2;
  }

  .top {
    padding-top: 40px;
  }
  .top-photos {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
  a {
    text-decoration: none;
    color: #6a546d;
  }

  .top-photos img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }

  @media (min-width: 900px) {
    .top-photos {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
</style>
