---
import Layout from "../layout.astro"
import Project from "../components/project.astro"
import Language from "../components/language.astro"
---
<Layout>
	<br class="top"/>
		<div class="maincol">
		
			<div class="hero">

				<div class="leftside">
					<h1 class="primary">Louis Bourgault du Coudray</h1>
					<p>High school student, hacker, and various other things</p>
				</div>
				<div class="rightside">
					<img src="/me.jpeg" id="me" alt="A photo of me">
				</div>
			</div>
				<section>
				<h2>Code and Hardware</h2>
				<div class="projects">
					<Project name="ferretboard" description="A project for Hack Club Macondo, making a simple RP2040 game console with a screen and custom PCB" imageURL="https://github.com/louis-bourgault/macondo-games/raw/main/img/fusion-with-parts.png" imageAlt="The case design in Fusion 360" link="https://github.com/louis-bourgault/macondo-games"></Project>
					<Project name="Keyboard" description="split mechanical wireless keyboard, made for Hack Club Blueprint" imageURL="https://github.com/louis-bourgault/keyboard/raw/main/img/render.png" imageAlt="Render of the project" link="https://github.com/louis-bourgault/keyboard"></Project>

				</div>
				<h2>Languages and frameworks:</h2>
				<div class="langs">
					<Language name="Golang" image="https://www.madebymikal.com/wp-content/uploads/2018/04/golang.png"></Language>
					<Language name="Svelte" image="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/1280px-Svelte_Logo.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail"></Language>
					<Language name="Astro" image="/astro.svg"></Language>

				</div>
				
			</section>
				
		</div>

		<br class="top"/>


	</Layout>

<style>
	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  		gap: 10px;
	}
	.langs {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  		gap: 10px;
	}


	.top {
		padding-top: 40px;
	}
</style>